// Dark Mode Colours
$dark_base: #171821;
$dark_base_darker: #13151B;
$dark_base_lighter: #313240;
$dark_accent: #1436E5;
$dark_accent_light: #3953DD;
$dark_white: #FAFCFF;
$dark_gradient_accent: linear-gradient(161.03deg, #1488CC 0.96%, #2B32B2 100%);