@font-face {
    font-family: 'BungeeHairline';
    src: url('../../fonts/BungeeHairline-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: url('../../fonts/Inter-Regular.otf') format('opentype');
}

